.main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: end; */
  padding: 6rem;
  /* min-height: 100vh; */
}

.main-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe {
  margin-top: -100px;
  padding-left: 79px;
}

.container {
  width: 75%;
  min-width: 1000px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* min-width: fit-content; */
}

.col2 {
  width: 50%; 
  justify-content: center;
  display: grid;
  /* top: 50%; */
  /* position: absolute; */
  /* float: right; */
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
